<ul class="footer-social">
    <li class="footer-social-item">
        <a href="http://www.facebook.com/granacom" target="_blank"><img src="{{ siteUrl }}images/social/icon-facebook.svg" alt="facebook"> </a>
    </li><!--
--><li class="footer-social-item">
        <a href="http://www.twitter.com/granacom" target="_blank"><img src="{{ siteUrl }}images/social/icon-twitter.svg" alt="twitter"></a>
    </li><!--
--><li class="footer-social-item">
        <a href="http://www.instagram.com/granacom" target="_blank"><img src="{{ siteUrl }}images/social/icon-instagram.svg" alt="instagram"></a>
    </li><!--
--><li class="footer-social-item">
        <a href="http://www.pinterest.com/granacom" target="_blank"><img src="{{ siteUrl }}images/social/icon-pinterest.svg" alt="pinterest"></a>
    </li><!--
--><li class="footer-social-item">
        <a href="https://www.snapchat.com/add/granacom/" target="_blank"><img src="{{ siteUrl }}images/social/icon-snapchat.svg" alt="snapchat"></a>
    </li><!--
--><li class="footer-social-item">
        <a href="spotify:user:granacom" target="_blank"><img src="{{ siteUrl }}images/social/icon-spotify.svg" alt="spotify"></a>
    </li>
</ul>